@()

@main("Welcome to Play") {

  <div class="container pt-5">
    <div class="jumbotron">
      <h1 class="display-3">Welcome to Play with SASS and ES6 Modules!</h1>
      <p class="lead">The sole intention of this is to provide a pretty straight forward way to use current frontend-technologies
        (<a href="https://yarnpkg.com">Yarn</a>, <a href="https://gulpjs.com/">Gulp</a>,
        <a href="https://webpack.js.org/">Webpack</a> and <a href="http://sass-lang.com/">SASS</a>) together with a
        <a href="https://www.playframework.com">Play Framework</a> web application.</p>
      <hr class="my-4">
      <p class="lead">
        <a id="modalTrigger" href="#nothing" class="btn btn-lg btn-success">
          <i class="fa fa-eye fa-fw" aria-hidden="true"></i>Display a modal window...
        </a>
      </p>
    </div>
  </div>

  <div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          JS seems to work...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
}
